<span class="section__title">{{ .Title | default "Projects" }}</span>
<div class="portfolio__content">
    {{ range first 1 (where .Data.Pages "Params.featured" "==" true) }}
        <section class="portfolio__featured-project">
            <div class="section-inner">
                <div class="portfolio_content">
                    <div class="item featured text-center">
                        <div class="project__summary">
                                {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{ end }}
    <section>
        <div class="portfolio_content">
            <hr class="divider">
            {{ range (where .Data.Pages "Params.featured" "!=" true).ByDate.Reverse }}
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <span class="project__summary">
                        {{ .Content }}
                    </span>
                </div>
            </div>
            <div class="row-space">&nbsp;</div>
            {{ end }}
        </div>
    </section>
</div>
